* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colorText_Red {
    color: red;
    
}

.imageContent {
    margin: 12px;
}

.clear {
    clear: both;
}

.hw50 {
    height: 50px;
    width: 50px;
}

.h36{
    height: 36px;
}

/*Home**/

.home {
     margin-top: 108px;
     max-width: 960px;
     margin-left: auto;
     margin-right: auto;
}

.wrapBanner {
    background-color: white;
}

.textContent {
    text-align: left;
    line-height: 1.33;
    font-size: 8;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 12px;
    margin-right: 12px;
}

.textJustify {
    text-align: justify;
   text-justify: inter-word;
}

.cardBanner {
    width: 33px;
    height: 33px;
}

.boxItem {
    width: 100px;
    height: 73px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
 
.boxItem:hover {
    cursor: pointer;
    opacity: 0.4;
}

.textItem {
    line-height: 18px;
    font-size: 14px;
    text-align: center;
}

.textNoLink {
    text-decoration: none!important;
    color: black;
    font-weight: bold;
}

.cardProduct:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
    cursor: pointer;
}



.containerBanner {
    display: flex;
    justify-content: space-between;
    margin: 24px 24px 12px 12px;
}

.height24 {
    height: 24px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
}

.greenBtn {
    background-color: #33a837!important;
    border-radius: 3px;
    color: white!important;
    font-weight: bolder;
    border: 2px #333;
}

.greenBtn:hover {
    background-color: #16831a!important;
    color: white;
}


.blog {
    background-color: white;
    display: flex;
    justify-content: space-between;
}
/**Product*/
.productImage {
    margin-top: 16px;
    height: 400px;
    max-width: 400px;
}



/**Product end*/

/*Cart product*/
.cart {
    min-height: 400px;
    border-radius: 8px;
}

.cart_cardProduct {
    min-height: 400px;
}

.boxCart {
    box-sizing: border-box;
}


.boxCart:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
}

.wrapCart{
    padding: 8px 0;
}

.cart_product_boxImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.cart_product_boxImg:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);

}

.cart_boxButtonBuy {
    margin-right: 0;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cart_buttonBuy{
    margin-right: 8px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 44, 97);
}

.cart_product_img {
    height: 100px;
    max-width: 100px;

}

.cart_product_description{
    width: 30%;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
}

.cart_product_amount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.cart_product_price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    width: 15%;
}

.cart_product_checkbox{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_product_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    box-sizing: border-box;
}


.cart_productDeleteBtn {
    font-weight: bold;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(124, 124, 124);
}

.cart_productDeleteBtn:hover {
    color: red;
    cursor: pointer;
}

.cardProductNull {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.amountButton {
    height: 40px;
    width: 30px;
    border-style: ridge
}
/**End card product*/


/**ProductOffer*/
.productOffer_title {
    height: 96px;
}


.boxProductOffer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapProductOffer {
    display: flex;
    overflow: auto;
    margin: 8px 0px;
    width: 90%;
    scroll-behavior: smooth;
}

.wrapProductOffer::-webkit-scrollbar {
    width: 0;
}


.cardOffer {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 8px 10px;
}


.card_box_image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.card_image {
    height: 100%;
    width: auto;
    max-width: 180px;
}
.scroll_bn {
    font-size: 16px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 20px;
}
.scroll_bn:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    background-color: #333;
}
/**ProductOFfer end*/


/**Profile User*/
.prodfile_avatarUser {
    font-size: 60px!important;
}

.profile_NameUser {
    font-weight: bold;
    font-size: 26px;
    margin: 0 16px;
    text-align: center;
}

.profile_box {
    border-style: groove;
}

.profile_BoxRadius {
    border-radius: 10px;
}


.profile_row {
    height: 36px;
    display: flex;
    align-content: center;
}

.profile_numberFollow {
    font-weight: bold;
    margin-right: 4px;
}

.profile_icon {
    text-align: center;
    margin-top: 3px;
    width: 20px;
    margin-right: 4px;
}

.profile_textDesc {
    display: flex;
    color: rgb(134, 134, 134);
}

.justifyText {
    font-size: 100px!important;
    display: flex;
    text-justify: center;
    margin-left: auto;
    margin-right: auto;
}

.textBoxNull {
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}


.heightBox {
    min-height: 400px;
}

.inforUser_textBoxBlog {
    font-size: 26px;
    margin-left: 16px;
    font-weight: bold;
    margin-top: 16px;
}

.rowBox1{
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}

.flowUser {
    box-sizing: border-box;
    display: flex!important;
    flex-direction: row;
    line-height: 16px;
}

