:root {
    --bg-color-main: rgb(255, 216, 60);
}
.app {
    background-color: var(--bg-color-main);
    overflow: hidden;
}

.bgColorMain {
    background-color: var(--bg-color-main);
}

.wrapHeading {
}

.clear {
    clear:both;
}

.bgSmoker {
    background-color: #ccc;
}












