.app {
    background-color: rgb(255 186 0);
    overflow: hidden;
}

.wrapHeading {
}

.clear {
    clear:both;
}

.bgSmoker {
    background-color: #ccc;
}


.input-control:focus {
    outline: none;
}

.input-control.success {
    background-color: #09c372;
}



.input-control.error {
    background-color: red;
}

.input-control .error {
    color: red;
}

